body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 76px;
  background-color: var(--white-02);
  padding: 8px 16px;
}

.header .logo-icon {
  width: auto;
  height: 100%;
}

.auth-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 16px;
}

.form-container {
  width: 100%;
  max-width: 505px;
  background-color: var(--white-02);
  margin: 32px auto;
  padding: 30px;
  border-radius: 20px;

  .title {
    margin-bottom: 24px;
  }
}

.auth-form {
  .link {
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    margin: 8px 0 16px auto;

    &:hover {
      text-decoration: underline;
    }
  }

  .text {
    color: var(--gray-02);
    margin: 16px 0 24px;

    a {
      color: var(--blue-01);
      text-decoration: underline;
    }
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    color: var(--white-02);
    background-color: var(--blue-01);
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;

    &:hover {
      opacity: 0.9;
    }
  }
}

.field {
  margin: 24px 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:has(input:required) {
    label {
      &::after {
        content: "*";
        position: relative;
        top: 2px;
        color: var(--red-01);
      }
    }
  }

  &:has(.error) {
    input {
      outline: 1px solid var(--red-01);
    }
  }

  label {
    display: block;
    color: var(--gray-02);
    margin-bottom: 8px;
  }

  input {
    display: block;
    width: 100%;
    padding: 13px 20px;
    background-color: var(--gray-06);
    border-radius: 7px;
  }

  small.help {
    line-height: 1;
    color: var(--gray-03);
  }

  .error {
    font-size: 1.4rem;
    color: var(--red-01);
  }
}

.relative {
  position: relative;
}

.relative > .password-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 24px;
  transform: translate(50%, -50%);
}

.relative:has(.password-btn) {
  input[type="password"] {
    padding-right: 40px;
  }
}

.password-btn ion-icon {
  font-size: 24px;
}

.password-btn.show {
  ion-icon[data-toggle="show"] {
    display: block;
  }
  ion-icon[data-toggle="hide"] {
    display: none;
  }
}

.password-btn {
  ion-icon[data-toggle="show"] {
    display: none;
  }
  ion-icon[data-toggle="hide"] {
    display: block;
  }
}

.non-field-errors {
  color: var(--red-01);
}

.messages {
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px 0;
}

.messages:has(.success) {
  color: var(--green-01);
  background-color: rgba(44, 222, 154, 0.1);
  border: 1px solid var(--green-01);
}
